/* Across site styling */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Anonymous Pro', monospace;
}

main {
    margin-top: 4rem;
    flex-grow: 1;
    font-family: 'Anonymous Pro', monospace;
}

h1 {
    font-weight: 700;
}

h1,
h2 {
    text-align: center;
}

/* Header specific styling */

header {
    width: 100%;
    background-color: #FFFFFF;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    margin-left: 1em;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 2rem;
}

nav li {
    display: inline-block;
    line-height: 3.5rem;
    padding-right: 1.5rem;
}

nav li a {
    color: #E06315;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

a:hover {
    color: #44841A;
}

.active {
    text-decoration: underline;
}

/* Hidden anchor point to allow for in page nav link to anchor to correct position */
.anchor-point {
    position: relative;
    top: -4em;
    /* This needs to match header height */
    opacity: 0;
}

/* Styling linked to hamburger */
.desktop-nav {
    display: none;
}

.hamburger {
    position: relative;
    display: block;
    width: 5em;
    height: 4em;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin: 0.5em;
    z-index: 4;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 0.5em;
    background-color: #E06315;
    border-radius: 4px;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-12px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 5em;
    right: 100%;
    display: block;
    width: 15em;
    height: 19em;
    z-index: 3;
    padding-top: 2em;
    transition: 0.4s;
    background-color: #E06315;
    border: 1px solid black;
}

.mobile-nav.is-active {
    right: 0;
}

.mobile-nav a {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
    color: #FFFFFF;
}

.mobile-nav a:hover {
    font-size: 1.2em;
}

/* Media query to switch from mobile-nav to desktop-nav */
@media (min-width: 1100px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .desktop-nav {
        display: block;
    }
}

/* Media query to increase height of header and thus size of logo */
@media (min-width: 500px) {
    header {
        height: 5rem;
    }

    main {
        margin-top: 5rem;
    }

    .anchor-point {
        top: -5em;
    }

    .hamburger {
        height: 5em;
        width: 6em;
    }
}

/* Footer specific styling */

footer {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    line-height: 2rem;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}

/* Contact Us page specific */

.reason {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6em;
    margin-bottom: 2em;
}

.reason-extra {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 7.2em;
    margin-bottom: 1em;
}

.reason-icon {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 2em;
    height: 1.5em;
    padding: 0.2em;
}

.reason-icon > i {
    color: #E06315;
    font-size: 2em;
}

.reason > p {
    display: inline-block;
    text-align: center;
}

.reason-extra > p {
    display: inline-block;
    text-align: center;
}

.form-container {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 20em;
    padding: 1em;
    background: rgba(53, 151, 16, 0.35);
    border-radius: 10px;
    /* Add shadow if time */
}

.form-heading {
    color: #E06315;
    font-size: 2em;
    margin-top: 0.5em;
}

form {
    margin-top: 2em;
}

.user-info-container {
    display: flex;
    margin-bottom: 1em;
}

.labels {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.inputs {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.form-item {
    margin-bottom: 1em;
    display: block;
}

input {
    width: 14em;
}

select {
    width: 18em;
    margin-left: 2em;
}

textarea {
    width: 18em;
    height: 10em;
    margin-left: 2em;
}

#submit-button {
    margin: 0 auto;
    width: 8em;
    padding: 0.5em;
    border-radius: 5px;
}

@media (min-width: 500px) {
    .form-container {
        width: 30em;
    }
    form {
        margin-left: 1em;
    }
}

@media (min-width: 1000px) {
    .reason, .reason-extra {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 4em;
        margin-bottom: 1em;
    }
    .reason-icon {
        margin-right: 2em;
    }
    .form-container {
        width: 38em;
        padding: 2.5em;
    }
    .reason > p {
        text-align: left;
    }
    .reason-extra > p {
        text-align: left;
    }
    form {
        margin: 0 auto;
        width: 20em;
        margin-top: 3em;
    }
    
}

/* Home Page page specific */

.main-index {
    background-color: white;
}

.features {
    width: 100%;
    height: auto;
    padding: 0 3em;
    justify-content: space-around;
}

.feature-container {
    flex-basis: 30%;
    margin: 3rem auto;
    padding: 0 3em;
    max-width: 1000px;
    min-width: 300px;
}

.feature-container p {
    color: #000;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 15px;
}

.features-divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 3em auto;
    padding: 0;
    max-width: 1000px;
    min-width: 300px;
}


.feature-container_text {
    display: flex;
    padding-left: 1rem;
}

.feature-container_icon {
    display: flex;
    float: left;
    margin-bottom: 15px;
}

.hero {
    width: 100vw;
    padding: 0.7rem 0.2rem 0.7rem 0.2rem;
    color: white;
    background: linear-gradient(165deg, rgba(53, 151, 16, 0.95) 50%, rgba(65, 185, 20, 0.75) 100%);
}

/* About Us page specific */

#team-intro {
    line-height: 1.4;
    padding: 2em 5vw 0.5em;
    background-color: rgba(53, 151, 16, 0.35);
    width: 80%;
    margin: 3em auto 0;
    border-radius: 10px;
    max-width: 47em;
}

#team-intro div {
    margin-bottom: 2em;
    text-align: center;
}

#team-intro div i {
    color: #41B914;
}

#team-container {
    width: 90%;
    margin: 3em auto 5em;
    max-width: 200em;
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    position: relative;
}

.team-card {
    width: 15em;
    height: 20em;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
}

.team-card-icon-container {
    width: fit-content;
    padding: 1em;
    margin: 0 auto;
}

.team-card-icon-container a:visited {
    color: black;
}

.team-card-icon-container i {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2em;
    padding: 0 0.5em;
}

.team-picture-container {
    height: 15em;
    overflow: hidden;
}

.team-picture-container img {
    border-radius: 10px;
}

.team-card img {
    height: 15em;
    width: 15em;
}

.team-card_info {
    width: 14em;
    height: 16em;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    left: 0.5em;
    bottom: 1em;
    background: linear-gradient(rgba(53,151,16, 1) 0%, rgba(255,255,255,1) 20%);
    border-top: 1px solid black;
    box-shadow: 0 -3px 8px rgba(53,151,16, 0.8);
}

.team-card_info span {
    display: block;
    position: relative;
    font-size: 1.6em;
    line-height: 1.4;
    left: 1em;
    margin-top: 1.5em;
}

.github-icon {
    left: 1.2em;
}

.github-icon:hover {
    color: #44841A;
}

.linkedin-icon {
    right: 1.2em;
}

.linkedin-icon:hover {
    color: #E06315;
}

.team-card_info span {
    top: 1em;
}

.team-card_text {
    height: 5em;
    position: relative;
    z-index: 1;
    background: #ffffff;
    border-radius: 10px;
    border-top: 1px solid black;
    box-shadow: 0 -2px 4px black;
    background: linear-gradient(rgba(255,255,255,1) 0%, rgba(238,238,238,1) 48%, rgba(255,255,255,1) 100%);
}

/* Hover effect for team member's card pop up effect */

.team-card:hover .team-card_info {
    transform: translateY(-10em);
    transition: 0.3s ease-in-out;
}

.team-card:hover .team-card_text {
    transform: skewX(5deg);
    transform-origin: bottom right;
}

/* Home Page Map */

/* Loading Spinner */
.map-section {
    position: relative;
}

#spinner {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgba(65, 185, 20, 0.75);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 4s linear 2s;
    z-index: 2;
}

#spinner_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1; /* Place it below your_div */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Map */
#map {
    height: 40rem;
}

/* Pin Card */
.infowindow {
    word-wrap: break-word;
    border-radius: 0.25rem;
}

.infowindow_group {
    padding-left: 0;
    margin-bottom: 0;
}

.infowindow_item {
    padding: 0.55rem 1.05rem;
    margin-bottom: -1px;
    background-color: #F1FDED;
    border: 1px solid rgba(0, 0, 0, .125);
    margin-top: 0;
    color: #000;
    font-family: 'Anonymous Pro', monospace;
}

.muted {
    color: #707d61;
    font-size: 12px;
}

.navigate_button {
    margin: 6px 0 14px;
    text-align: center;
}

.navigate_button a {
    font-family: 'Anonymous Pro', monospace;
    text-decoration: none;
    color: #000;
    text-align: center;
    background-color: #ff8b43;
    border: 2px solid #ff8b43;
    border-radius: 15px;
    padding: 4px 10px;
    color: #000;
    font-weight: 400;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navigate_button a:hover {
    background-color: #41B914;
    border: 2px solid #41B914;
    color: #ffffff;
}

.info_field {
    text-align: center;
}

.infowindow_item h2 {
    background-color: #41B914;
    color: #000;
    padding: 10px;
    border-radius: 8px;
}

.info_field textarea {
    margin: 0;
    width: 80%;
    margin-bottom: 2rem;
}

.user_input_container {
  display: flex;
  flex-direction: column;
}

.user_input_timestamp {
  text-align: left;
  flex-direction: row;
  height: 2.5rem;
  display: inline-flex;
}

.user_input_timestamp p {
  text-align: left;
  line-height: inherit;
}

.user_input_timestamp img {
  height: 2.5rem;
  padding-right: 1rem;
}

.user_input_timestamp span a {
  text-decoration: underline;
  color: blue;
  padding-right: 0.5rem;
}

.user_input_text {
  text-align: left;
  flex-direction: row;
}

.user_input_text p {
  padding-left: 3.5rem;
  margin-top: 0;
}

.card_button {
    text-decoration: none;
    color: black;
    background-color: #E06315;
}

.infowindow-homepage {
  max-width: 900px;
  min-width: 300px;
  margin: 3rem auto;
}

/* This is now covered in universal h1 styling */
.hero h1 {
    font-weight: 700;
}

.hero p {
    text-align: center;
} 