/* Across site styling */
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Anonymous Pro', monospace;
}

main {
    margin-top: 5rem;
    flex-grow: 1;
    font-family: 'Anonymous Pro', monospace;
}

h1 {
    font-weight: 700;
  }

h1, h2 {
    text-align: center;
}

/* Header specific styling */

header {
    width: 100%;
    background-color: #FFFFFF;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    margin-left: 1em;
}

nav ul {
    display: flex;
    justify-content:space-around;
    padding: 0 0 0 2rem;
}

nav li {
    display: inline-block;
    line-height: 3.5rem;
    padding-right: 1.5rem;
}

nav li a {
  color: #E06315;
  font-size: 1.2em;
}

a {
    text-decoration: none;
}

a:hover {
    color: #44841A;
}

.active {
    text-decoration: underline;
}

/* Hidden anchor point to allow for in page nav link to anchor to correct position */
.anchor-point {
    position: relative;
    top: -5em; /* This needs to match header height */
    opacity: 0;
}

/* Styling linked to hamburger */
.desktop-nav {
    display: none;
}

.hamburger {
    position: relative;
    display: block;
    width: 6em;
    height: 5em;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin: 0.5em;
    z-index: 4;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 0.5em;
    background-color: #E06315;
    border-radius: 4px;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 5em;
    right: 100%;
    display: block;
    width: 15em;
    height: 19em;
    z-index: 3;
    padding-top: 2em;
    transition: 0.4s;
    background-color: #E06315;
    border: 1px solid black;
}

.mobile-nav.is-active {
    right: 0;
}

.mobile-nav a {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
    color: #FFFFFF;
}

.mobile-nav a:hover {
    font-size: 1.2em;
}

@media (min-width: 1100px) {
    .mobile-nav {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .desktop-nav {
        display: block;
    }
}

/* Footer specific styling */

footer {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    line-height: 2rem;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
  }

/* Contact Us page specific */
.contact-reasons-container {
    margin: 2em;
    display: flex;
    justify-content: space-around;
}

.contact-reason {
    box-sizing: border-box;
    background-color: #CECECE;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 10px;
    width: 18em;
    padding: 1em;
    text-align: center;
}

.form-container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 40em;
    padding: 1em;
}

form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.form-item {
    margin-bottom: 1em;
}

input {
    width: 14em;
}

select {
    width: 18em;
}

textarea {
    width: 18em;
    height: 10em;
}

#submit-button {
    margin-left: 5em;
    width: 8em;
    padding: 0.5em;
    border-radius: 5px;
}

/* Home Page page specific */

.main-index {
  background-color: white;
}

.map {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features {
  width: 100%;
  height: auto;
  padding: 0 3em;
  justify-content: space-around;
}

.feature-container {
  flex-basis: 30%;
  margin-top: 3rem;
  padding: 0 3em;
}

.feature-container p {
  color: #000;
  text-align: left;
  line-height: 1.4;
  margin-bottom: 15px;
}

.features-divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 3em 3em;
  padding: 0;
}

.feature-container_text {
  display: flex;
  padding-left: 1rem;
}

.feature-container_icon {
  display: flex;
  float: left;
  margin-bottom: 15px;
}

.hero {
  width: 100vw;
  padding: 0.7rem 0.2rem 0.7rem 0.2rem;
  color: white;
  background: linear-gradient(165deg, rgba(53,151,16, 0.95) 50%, rgba(65,185,20, 0.75) 100%);
}

/* About Us page specific */

#team-intro {
    font-size: 1.6em;
    padding: 2em;
}

#team-container {
    width: 90%;
    margin: 3em auto 5em;
    max-width: 200em;
    display: grid;
    gap: 3em;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.team-card {
    width: 15em;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
}

.team-card img {
    width: 15em;
}

/* This is now covered in universal h1 styling */
.hero h1 {
  font-weight: 700;
}

.hero p {
  text-align: center;
}