/* Across site styling */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #CECECE;
}

main {
    margin-top: 4rem;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    flex-grow: 1;
}

h1, h2 {
    text-align: center;
}

/* Header specific styling */

header {
    width: 100%;
    background-color: #FFFFFF;
    height: 4rem;
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content:space-around;
    padding: 0 0 0 2rem;
}

nav li {
    display: inline-block;
    line-height: 2rem;
    padding-right: 2rem;
}

/* Footer specific styling */

footer {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    line-height: 2rem;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
  }

  /* Contact Us page specific */

  #contact-us-container {
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 25px;
    width: 60%;
    min-width: 20em;
    padding: 2em;
    margin-top: 4em;
    margin-bottom: 4em;
  }

  #contact-us-container > h2 {
    margin-top: 0;
  }

  #contact-us-container > ul {
    list-style-type: none;
    padding: 0;
  }

  .contact-reason-points {
    margin-bottom: 1em;
  }

  #contact-us-container > p {
    text-align: center;
  }

  form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
  }

  .form-item {
    margin-bottom: 1em;
  }

  input {
    width: 14em;
  }

  select {
    width: 18em;
  }

  textarea {
    width: 18em;
    height: 10em;
  }

  #submit-button {
    margin-left: 5em;
    width: 8em;
    padding: 0.5em;
    border-radius: 5px;
  }